<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Login Suite" verbose="2" parallel="methods"
	thread-count="4">

	<test name="Login to application">
	
		<classes>
			<class name="loginTestCases.login"></class>
		</classes>
	</test>

</suite>